@charset "utf-8";
/* CSS Document */

<style type="text/css">
<!--
.Estilo212 {
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
body {
	background-color: #FFFFFF;
}
.Estilo12 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.Estilo2 {color: #000000; font-size: 11px; }
#main {position: absolute;
	top: 11px;
	left: 20px;
	z-index: 5;
	width: 941px;
	height: 574px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.Estilo278 {color: #000000}
.Estilo290 {
	color: #980428;
	font-weight: bold;
}
.Estilo291 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #669966;
	font-weight: bold;
}
.Estilo292 {
	color: #08419B;
	font-weight: bold;
}
.Estilo293 {
	color: #333333;
	font-weight: bold;
}
.Estilo298 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
}
.Estilo322 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	margin-right: 2px;
}
.Estilo358 {color: #FFFFFF}
.Estilo359 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; }
.Estilo361 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; font-weight: bold; }
.Estilo371 {font-family: Verdana, Arial, Helvetica, sans-serif}
.Estilo372 {color: #666666; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
.Estilo373 {color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;}
.Estilo374 {font-size: 11px}
.Estilo376 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000; font-size: 11px; font-weight: bold; }
.Estilo380 {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style8 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; font-weight: bold; }
.style9 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold; }
.style10 {color: #333333; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.style14 {font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
.style15 {font-family: Verdana, Arial, Helvetica, sans-serif; margin-left: 15px; font-size: 11px;}
.style16 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; }
.style18 {color: #FFFFFF; font-size: 16px; }
.style19 {color: #FF6600}
.style20 {font-size: 12px}
.style21 {font-size: 16px}
.style23 {color: #FFFFFF; font-size: 14px; }
.Estilo27 {
	color: #FBF2CA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.Estilo28 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; margin-right: 2px; }
.Estilo35 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; }
.Estilo36 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; }
.Estilo37 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #FFFFFF; }
.Estilo146 {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
.Estilo218 {font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: normal;
}
.Estilo276 {color: #EF4A0C}
-->
</style>
